<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>钟表眼镜国检中心</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./orgdesc.css">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="top-img-wrap">
                <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2662373233,2184225911&fm=26&gp=0.jpg" alt="">
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="#">
                    <img alt="Brand" src="../../images/logo.png">
                </a> -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">网站首页</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">机构简介
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">关于检测中心</a>
                            </li>
                            <li>
                                <a href="#">组织机构</a>
                            </li>
                            <li>
                                <a href="#">资质证书</a>
                            </li>
                            <li>
                                <a href="#">历史回顾</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#about">新闻公告</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">信息公告
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">二手表A级店铺公示</a>
                            </li>
                            <li>
                                <a href="#">电子商务诚信示范店公示</a>
                            </li>
                            <li>
                                <a href="#">高级鉴定师信息公示</a>
                            </li>
                            <li>
                                <a href="#">钟表售后服务诚信站点</a>
                            </li>
                            <li>
                                <a href="#">皮具养护服务诚信站点</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">报告查询
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">钟表型式检验报告查询</a>
                            </li>
                            <li>
                                <a href="#">司法技术鉴定报告查询</a>
                            </li>
                            <li>
                                <a href="#">二手表检验证书查询</a>
                            </li>
                            <li>
                                <a href="#">眼镜型式检验报告查询</a>
                            </li>
                            <li>
                                <a href="#">皮具型式检验证书查询</a>
                            </li>
                            <li>
                                <a href="#">皮具真伪检验证书查询</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">办事大厅
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">委托检测</a>
                            </li>
                            <li>
                                <a href="#">钟表维修便民服务</a>
                            </li>
                            <li>
                                <a href="#">验光配镜便民服务</a>
                            </li>
                            <li>
                                <a href="#">职业技能鉴定申请</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#contact">政策文献</a>
                    </li>
                    <li>
                        <a href="#contact">消费警示</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="../navbar/">登录</a>
                    </li>
                    <li>
                        <a href="../navbar/">欢迎！齐天大爷</a>
                    </li>
                    <li>
                        <a href="../navbar/">退出</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container page-content">
        <div class="row">
            <div class="col-xs-12">
                <img src="../../images/adverte_course.png" alt="" class="middle-pic">
            </div>
        </div>
        <div class="row mg20">
            <div class="col-sm-3 col-xs-12 gx-btn-list">
                <div>
                    <div id="main_left_title">机构简介</div>
                    <div id="main_left_menu">
                        <ul>
                            <li class="nei_menu_on">
                                <a href="aboutus.asp?cid=1&amp;id=1" title="关于检测中心">关于检测中心</a>
                            </li>
                            <li class="nei_menu_off">
                                <a href="aboutus.asp?cid=1&amp;id=2" title="组织机构">组织机构</a>
                            </li>
                            <li class="nei_menu_off">
                                <a href="aboutus.asp?cid=1&amp;id=3" title="资质证书">资质证书</a>
                            </li>
                            <li class="nei_menu_off">
                                <a href="aboutus.asp?cid=1&amp;id=4" title="历史回顾">历史回顾</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="gx-btn">钟表形式检验报告查询</div>
                    <div class="gx-btn">司法技术鉴定报告查询</div>
                    <div class="gx-btn">司法技术鉴定报告查询</div>
                    <div class="gx-btn">眼镜形式检验报告查询</div>
                    <div class="gx-btn">眼镜形式检验报告查询</div>
                    <div class="gx-btn">皮具真伪检验证书查询</div>
                </div>
            </div>
            <div class="col-sm-9 col-xs-12">
                <div id="nengrong_right_top">
                    <h5>关于检测中心</h5>
                    <span>您的位置：
                        <a href="index.asp">首页</a>
                        <a href="aboutus.asp?cid="></a>&nbsp;&gt;&nbsp;
                        <a href="aboutus.asp?cid=1">机构简介</a>&nbsp;&gt;&nbsp;关于检测中心
                    </span>
                </div>
                <div id="nengrong" class="content">
                    <!-- 右边内容区-->

                    <div class="content">
                        <!-- 内容-->
                        <!-- con-->

                        <div class="news_img_2">
                            <img src="http://www.hgstc.com/UploadFiles/20126300346292.jpg" border="0">
                        </div>
                        <p>中国商业联合会钟表眼镜商品质量监督检测中心（原国内贸易部钟表眼镜商品质量监督检验测试中心），前身是北京市钟表眼镜公司检验科，最早成立于1979年8月，在计划经济时代担负全国进口钟表质量监督检测工作。1993年，经国内贸易部授权，国家质量监督检验检疫总局（原国家技术监督局）批准,成为国内唯一钟表眼镜质检机构，面向全国开展钟表眼镜商品质量监督检测工作。2000年，国家工商行政管理局、国家国内贸易局、国家质量技术监督局、国家出入境检验检疫局、国家轻工业局联合授予“消费争议商品检测中心”。</p>
                        <p>中心成立以来，在各级领导的关怀下，圆满完成了国内贸易部下达的质量监督抽查任务；“ST”质量监测服务试点工作；作为钟表和眼镜全国标准化技术委员会成员，参与并承担国家标准的修订和验证，检验技术方法的研究开发工作；完成国家科学技术成果奖相关申报项目的鉴定和审定工作。中心现有工作人员8人，其中高级职称四人，中级职称二人，专职检验人员四人，平均从事检验工作年限30年，各种仪器设备86台件，分设钟表检验实验室、眼镜检验实验室和综合办公室。</p>
                        <p>近年来，检测中心深入贯彻落实科学发展观，以科学、严谨、求真务实为根本宗旨，本着公正第三方原则，依法向社会出具精确的检验数据，多次配合国家和地方工商局、海关、商检、消协等机构进行了全国性、地域性的质量监督抽查工作，凭借专业技能优势，及时发现并协助解决了大量的质量和技术问题，对提高流通领域的钟表眼镜商品质量和保护消费者权益起到了积极的促进作用。</p>
                        <p>中心承担国内外钟表眼镜制造商、经销商、零售商的商品质量委托检验，为各企事业单位提供技术、信息咨询服务，同时受理消费者关于钟表眼镜商品的质量咨询和投诉，通过技术鉴定，解决了大量的投诉和质量纠纷。每年3.15和爱眼日，积极履行社会责任，开通免费咨询热线和专家现场服务，为广大消费者答疑解难。</p>
                        <p>中心是发改委物价认证机构常年合作的特殊商品鉴定单位，配合全国司法执法机关完成涉案物品的司法鉴定工作。其中包括胡长清、成克杰等重特大腐败案件。</p>
                        <p>为积极推进行业技术人才的培养、评价、流动，中心大力支持了包括第一、二届全国钟表维修技能大赛在内的多次大型行业活动，参与历届大赛考试题目和实际操作内容的设置，承担分数评判工作，为参赛企业提供技术指导，组织专家为员工提供职业技能培训。</p>
                        <!--显示分页-->

                        <!-- con end-->
                        <!-- 内容 END-->
                    </div>

                    <!-- 右边内容区 end-->
                </div>
            </div>
        </div>

        <div class="youqing-wrap">
            <a href="">中国商业联合会</a>
            <a href="">中国商业联合会</a>
            <a href="">中国商业联合会</a>
            <a href="">中国商业联合会</a>
            <a href="">中国商业联合会</a>
            <a href="">中国商业联合会</a>
            <a href="">中国商业联合会</a>
        </div>
    </div>
    <div class="container footer-wrap">
        <div class="footer">
            <p>版权所有：国家雄飞争议商品检测中心/中国商业联合会钟表眼镜商品质量监督检测中心 京ICP备01293884号-1</p>
            <p> 地址： 北京东城区建国门南大街1号楼207室 邮编：100005</p>
            <p>电话：400-014-8066 010-64492242 传真：010-65593443 电子邮箱：info@hgstc.com</p>

        </div>
    </div>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>

</html>