.page-content{
    padding: 20px 0;
    z-index: 1;
    background: #fff;
}
.gx-panel{
    border: 1px solid #403fff;
}
.gx-panel-title{
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    position: relative;
    color: #fff;
    background: #337ab7;
}
.gx-panel-title::after{
    position: absolute;
    content: "";
    left: 10px;
    top: 0;
    background: #fff;
    width: 4px;
    height: 40px;
}
.panel-more{
    position: absolute;
    right: 10px;
    top: 0;
    height: 40px;
    line-height: 40px;
}
.gx-panel-body{
    padding: 20px 10px;
}
.middle-pic{
    width: 100%;
    border-radius: 10px;
}


#main_left_title {
    width: 100%;
    height: 48px;
    margin-bottom: 11px;
    background: #162C3D;
    background-size: cover;
    font-family: "微软雅黑", Arial;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    line-height: 48px;
}
#main_left_menu {
    height: auto;
}
#main_left_menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#main_left_menu ul li {
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 8px;
    overflow: hidden;
    background: url(/images/nei_21.jpg);
    background-size: cover;
    text-align: center;
}

#main_left_menu ul li.nei_menu_on a {
    color: #CC3300;
}
#main_left_menu ul li.nei_menu_off a {
    color: #1F5996;
}
#nengrong_right_top {
    width: 100%;
    height: 36px;
    border-bottom: 1px #DDD solid;
    clear: both;
}
#nengrong_right_top h5 {
    height: 36px;
    font-family: "微软雅黑", Arial;
    font-size: 16px;
    font-weight: bold;
    color: #CC3300;
    line-height: 36px;
    white-space: nowrap;
    float: left;
    padding: 0px;
    margin: 0px;
}
#nengrong_right_top span {
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    white-space: nowrap;
    color: #999;
    float: right;
}
#nengrong_right_top span a {
    color: #999;
}
#nengrong {
    padding-top: 26px;
}

.content {
    line-height: 180%;
    font-size: 16px;
}
.news_img_2 {
    width: auto;
    height: auto;
    float: right;
    margin-left: 15px;
}
.content p {
    line-height: 180%;
    font-size: 16px;
    text-indent: 2em;
    padding: 0px;
    margin: 0px;
    padding-bottom: 12px;
}
.a_li_list{
    display: inline-block;
    clear: both;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.zizhi-title{
    float: left;
}
.a_li_list img{
    width: 100px;
    float: right;
}
.gx-btn:hover{
    background: #CC3300;
}