.container.page-content
    .row
        .col-xs-12
            img(src="../../images/adverte_course.jpg").middle-pic
    .row.mg20
        .col-sm-3.col-sx-12.gx-btn-list
            div
                include ../quickbtn.jade
        .col-sm-9.col-xs-12
            #nengrong_right_top
                if warnType
                    h5 公告通知
                else
                    h5 行业信息
                span 您的位置：
                    a(href="/") 首页&nbsp;&gt;&nbsp;
                    a(href="/warn") 消费警示
            #nengrong_list.content
                #my_content_div
                    div 
                        if warnList.length == 0
                            .warn_list_ul_1 暂无数据
                        else
                            ul.warn_list_ul_1
                                each item,index in warnList
                                    li
                                        span
                                            a(href="/warndetail?id=" + item.id).a_li_list #{item.title}
                        if warnList && warnList.length > 0
                            nav(aria-label="Page navigation")
                                ul.pagination
                                    if pageInfo.current == 1
                                        li.disabled
                                            a(href="#",aria-label="Previous")
                                                span(aria-hidden="true") &laquo;
                                    else
                                        li
                                            a(href="/warn?type="+warnType + "&page=" + (pageInfo.current - 1),aria-label="Previous")
                                                span(aria-hidden="true") &laquo;
                                    - let n = 1;
                                    while n <= pageInfo.pages
                                        if n == pageInfo.current
                                            li.active
                                                a(href="#") #{n++}
                                        else
                                            li
                                                a(href="/warn?type="+warnType + "&page=" + n) #{n++}
                                    
                                    if  pageInfo.current == pageInfo.pages || pageInfo.current == pageInfo.pages-1
                                        li.disabled
                                            a(href="#",aria-label="Next")
                                                span(aria-hidden="true") &raquo;
                                    else
                                        li
                                            a(href="/warn?type="+warnType + "&page=" + (pageInfo.current + 1),aria-label="Next")
                                                span(aria-hidden="true") &raquo;