/* top样式begin */
.navbar{
    z-index: 1;
    background: transparent;
    margin-bottom: 0;
    border: none;
}
.navbar .container{
    background: #162C3D;
    color: #fff;
    max-width: 1100px;
}
.navbar-default {
    background-color: #162C3D !important;
    border: none !important;
}
.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff !important;
    background-color: initial !important;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #306da0;
}
#navbar .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #162C3D;
    border-bottom: 3px solid #fff;
    box-sizing: border-box;
    padding-bottom: 17px;
}
#navbar .nav .active-nav>a, .nav .active-nav>a:focus, .nav .active-nav>a:hover {
    background-color: #162C3D;
    border-bottom: 3px solid #fff;
    box-sizing: border-box;
    padding-bottom: 17px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
}
.top-img-wrap{
    background: #fff;
    margin-right: -15px;
    margin-left: -15px;
}
.top-img-wrap img{
    width: 100%;
    height: 220px;
    display: block;
    object-fit: cover;
    object-position: left top;
}

a, a:link, a:visited {
    font-size: 16px;
    color: rgb(102, 102, 102);
    text-decoration: none;
}
.caret{
    display: none !important;
}
.navbar-default .navbar-nav>li>a {
    font-size: 20px;
    font-family: Microsoft YaHei;
    margin-left: 38px;
    padding: 0 0 20px;
}
.dropdown-menu{
    position: absolute;
    left: 0;
    top: 40px;
    clear: both;
}
.dropdown-menu>li{
    display: inline-block;
}
.dropdown-menu>li>a{
    font-size: 14px;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{
    background: #fcf8e3 !important;
    color: #CC3300 !important;
}
.top-right-wrap{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 80px;
    width: 1200px;
    text-align: right;
    padding-right: 100px;
    font-size: 24px;
    color: #fff;
}
.top-right-wrap a:visited{
    color: #fff;
}
.top-search {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.top-search input {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    padding-left: 10px;
    color: #333;
}

.top-search-btn {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 3px;
    top: 9px;
    cursor: pointer;
}
.dropdown:hover{
    background-color: #CD1212 !important;
    background: #162C3D !important;
}
.navbar-nav{
    margin-top: -40px !important;
}
.nav>li{
    position: initial !important;
}
.navbar-nav>li>.dropdown-menu{
    width: 100%;
    text-align: center;
    background: #fcf8e3;
}
.dropdown-menu>li>a{
    font-size: 18px;
}
/* top样式end */



/* 页面快捷按钮begin */
/* .gx-btn-list .gx-btn:first-of-type{
    background: #34E78C;
}
.gx-btn-list .gx-btn:nth-of-type(2){
    background: #FD7F06;
}
.gx-btn-list .gx-btn:nth-of-type(3){
    background: #08FCFC;
}
.gx-btn-list .gx-btn:nth-of-type(4){
    background: #FB192B;
}
.gx-btn-list .gx-btn:nth-of-type(5){
    background: #41FE40;
}
.gx-btn-list .gx-btn:nth-of-type(6){
    background: #960097;
} */
/* 页面快捷按钮end */


/* 底部样式begin */
.youqing-wrap{
    line-height: 1;
    margin-top: 30px;
}
.youqing-wrap a{
    font-size: 14px;
    color: #183952;
    margin-right: 20px;
}
.youqing-name{
    color: #999;
}
.footer-wrap{
    margin-top: 40px;
}
.footer{
    padding: 40px 17px;
    background: #183952;
    color: #fff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer p{
    text-align: center;
}
.mg20{
    margin-top: 20px;
}
.footer-item{
    width: 380px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-item-pic{
    width: 30px;
    height: 30px;
}
.footer-item-name{
    margin-top: 14px;
    font-size: 19px;
    color: #fff;
}
.footer-item-value{
    margin-top: 23px;
    font-size: 11px;
    color: #A1C5E1;
}
/* 底部样式end */

a:link {text-decoration: none; }
a:visited {text-decoration: none; }
a:hover {text-decoration: none !important; }
a:active {text-decoration: none;}
.no-data{
    text-align: center;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff !important;
}

.container{
    background-color: #fff;
}
.page-content{
    padding: 0 !important;
}
.container {
    max-width: 1100px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 100px auto;
}
.login-group{
    margin-bottom: 10px;
}
.code-img{
    width: 80px;
    height: 30px;
}
#loginout{
    line-height: 48px;
    cursor: pointer;
}
.youqing-wrap a:focus,.youqing-wrap a:hover{
    color: #fff;
    text-decoration: none;
}

.youqing-wrap a:link {color: #183952; }
.youqing-wrap a:visited {color: #183952; }
.youqing-wrap a:hover {color: #183952; }
.youqing-wrap a:active {color: #183952;}


.gx-btn-list .gx-btn {
    display: inline-block;
    color: #fff;
    height: 46px;
    line-height: 46px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    text-align: center;
    border-radius: 5px;
}
.gx-btn-list .gx-btn:nth-child(odd){
    margin-right: 15px;
}
.gx-btn:nth-of-type(1){
    background-image: url(/images/btn1.png);
}
.gx-btn:nth-of-type(2){
    background-image: url(/images/btn2.png);
}
.gx-btn:nth-of-type(3){
    background-image: url(/images/btn3.png);
}
.gx-btn:nth-of-type(4){
    background-image: url(/images/btn4.png);
}
.gx-btn:nth-of-type(5){
    background-image: url(/images/btn5.png);
}
.gx-btn:nth-of-type(6){
    background-image: url(/images/btn6.png);
}
.gx-btn:hover{
    background: #CC3300;
}
.active-nav>.dropdown-menu {
    display: block;
    z-index: 999;
}
@media (max-width: 1200px){
    .navbar-default .navbar-nav>li>a{
        margin-left: 30px;
    }
    .top-img-wrap img{
        height: 200px;
    }
    .item>img{
        height: 280px;
        min-height: 280px;
    }
    .height-342 {
        height: 240px;
    }
    .wenjian-wrap{
        width: auto;
    }
}
@media (max-width: 992px){
    .navbar-default .navbar-nav>li>a {
        margin-left: 14px;
        font-size: 18px;
    }
    .dropdown-menu>li>a {
        display: block;
        padding: 3px 6px;
        font-size: 14px;
    }
    .top-img-wrap img{
        height: 170px;
    }
    .item>img{
        height: 280px;
        min-height: 280px;
    }
    .height-342 {
        height: 240px;
    }
    .wenjian-wrap{
        width: auto;
    }
}
@media (max-width: 768px){
    .navbar-default .navbar-nav>li>a {
        margin-left: 14px;
        font-size: 18px;
    }
    .dropdown-menu>li>a {
        display: block;
        padding: 3px 6px;
        font-size: 14px;
    }
    .top-img-wrap img{
        height: 116px;
    }
    .item>img{
        height: 220px;
        min-height: 220px;
    }
    .height-342 {
        height: auto;
    }
    .wenjian-wrap{
        width: auto;
    }
    .top-right-wrap{
        position: absolute;
        left: 10px;
        top: 80px;
        text-align: right;
        font-size: 24px;
        color: #fff;
        width: auto;
        transform: translateX(0);
    }
    .footer-item-name {
        margin-top: 8px;
        font-size: 14px;
        color: #fff;
    }
    .footer-item-pic {
        width: 20px;
        height: 20px;
    }
    .footer-item-value {
        min-height: 45px;
    }
    .navbar-nav{
        margin-top: 0 !important;
    }
    .top-right-wrap{
        padding-right: 0;
    }
    .gx-btn-wrap{
        display: none;
    }
}
@media (max-width: 375px){
    #nengrong_right_top span a {
        font-size: 12px;
    }
    #nengrong_right_top span{
        font-size: 12px !important;
    }
    .active-nav>.dropdown-menu{
        display: none;
    }
}