if companyList && companyList.length > 0
    .container(style="margin-top:-20px;")
        .youqing-wrap
            a(href="#").youqing-name 友情连接
            each item in companyList
                a(href= item.url || '#' ) #{item.orgName}
.container.footer-wrap
    .footer
        p 版权所有：国家消费争议商品检测中心 / 中国商业联合会钟表眼镜商品质量监督检测中心    京ICP备01293884号-1
        p 地址：北京市东城区建国门南大街5号1号楼103室    邮编: 100005
        p 电话：010-65593443 010-65592242    电子信箱： info@hgstc.com 