.container
    .youqing-wrap
        a(href="#") 中国商业联合会
        a(href="#") 中国商业联合会
        a(href="#") 中国商业联合会
        a(href="#") 中国商业联合会
        a(href="#") 中国商业联合会
        a(href="#") 中国商业联合会
.container.footer-wrap
    .footer
        p 版权所有：国家雄飞争议商品检测中心/中国商业联合会钟表眼镜商品质量监督检测中心 京ICP备01293884号-1
        p 地址： 北京东城区建国门南大街1号楼207室 邮编：100005
        p 电话：400-014-8066 010-64492242 传真：010-65593443 电子邮箱：info@hgstc.com