doctype html
html
  head
    title= title
    meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='keywords' content='育方教育,家庭教育, 婚姻经营,家庭教育APP, 亲子沟通,家庭教育平台,家庭教育咨询,家庭教育课程、家庭教育视频。')
    meta(name='description' content='育方教育为广大家长和孩子提借家庭教育咨询、家庭教育课程、家庭教育视频等一系统家庭教育服务，解决亲子关系、孩子学习力、婚姻关系等家庭关系各的各种问题。')
    link(rel='stylesheet',href='/plugins/layui/css/layui.css')
    link(rel='stylesheet',href='/style/reset.css')
    link(rel='stylesheet',href='/style/common.css')
    <link rel="shortcut icon" href="http://admin.fw8.com/icon.ico">
    <link rel="icon" href="http://admin.fw8.com/icon.ico">
    block headlink 
  body
    block content
    include login.jade

    script(src='http://code.jquery.com/jquery-2.2.4.min.js')
    script(src='/plugins/layui/layui.all.js')
    script(src='/js/jquery.cookie.js')
    script(src='/js/login.js')

    
    block headjs