extends layout.jade
head
  block headlink
    link(rel='stylesheet',href='/views/report/report.css')

body
  block content
    .container
        .form-signin
            .login-group
                label.sr-only(for="userName") 用户名
                input(type="text",placeholder="请输入用户名",required="",autofocus="")#userName.form-control
            .login-group
                label.sr-only(for="password") 密码
                input(type="password",placeholder="请输入密码",required="")#password.form-control
            .login-group(style="clear:both;")
                span(style="display:inline-block;line-height:30px;") 验证码
                input(type="text",style="width: 154px;margin-left: 12px;display: inline;")#code.form-control
                img(src="http://47.105.110.118:8080/jeecg-boot/menhu/login/captcha?v=" + Date.now(), alt="",style="float:right;").code-img
            .btn.btn-lg.btn-primary.btn-block#loginbtn 登陆
    </div>
  block headjs
    script(src='/views/login.js')
