a(href="/report").gx-btn 钟表型式检验报告查询
a(href="/report?type=1").gx-btn 司法技术鉴定报告查询
a(href="/report?type=2").gx-btn 二手表检验证书查询
a(href="/report?type=3").gx-btn 眼镜型式检验报告查询
a(href="/report?type=4").gx-btn 皮具型式检验证书查询
a(href="/report?type=5").gx-btn 皮具真伪检验证书查询