nav.navbar.navbar-default
    .container
        .top-img-wrap
            img(src="/images/top_bg.png")
        .navbar-header
            button.navbar-toggle.collapsed(data-toggle="collapse",data-target="#navbar",aria-expanded="false",aria-controls="navbar")
                span.sr-only Toggle
                span.icon-bar
                span.icon-bar
                span.icon-bar
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a(href="/") 网站首页
                li.dropdown
                    a(href="#",data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false").dropdown-toggle 机构简介
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href="/orgdesc") 关于检测中心
                        li
                            a(href="/orgdesc?type=1") 组织机构
                        li
                            a(href="/orgdesc?type=2") 资质证书
                        li
                            a(href="/orgdesc?type=3") 历史回顾
                li
                    a(href="/news") 新闻公告
                li.dropdown
                    a(href="#",data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false").dropdown-toggle 信息公开
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href="/public") 二手表A级店铺公示
                        li
                            a(href="/public?type=1") 电子商务诚信示范店公示
                        li
                            a(href="/public?type=2") 高级鉴定师信息公示
                        li
                            a(href="/public?type=3") 钟表售后服务诚信站点
                        li
                            a(href="/public?type=4") 皮具养护服务诚信站点
                li.dropdown
                    a(href="#",data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false").dropdown-toggle 报告查询
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href="/report?type=3") 钟表型式检验报告查询
                        li
                            a(href="/report?type=1") 司法技术鉴定报告查询
                        li
                            a(href="/report?type=2") 二手表检验证书查询
                        li
                            a(href="/report?type=4") 眼镜型式检验报告查询
                        li
                            a(href="/report?type=5") 皮具型式检验证书查询
                        li
                            a(href="/report?type=6") 皮具真伪检验证书查询
                li.dropdown
                    a(href="#",data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false").dropdown-toggle 办事大厅
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href="/work") 委托检测
                        li
                            a(href="/work?type=5") 个人委托真假鉴定
                        li
                            a(href="/work?type=2") 钟表维修便民服务
                        li
                            a(href="/work?type=3") 验光配镜便民服务
                        li
                            a(href="/work?type=4") 职业技能鉴定申请
                li.dropdown
                    a(href="#",data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false").dropdown-toggle 政策文献
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href="/literature") 通用标准
                        li
                            a(href="/literature?type=1") 技术文献
                        li
                            a(href="/literature?type=2") 考核标准
                li
                    a(href="/warn") 消费警示
            ul.nav.navbar-nav.navbar-right
                if gxtoken
                    li
                        a(href="#") 欢迎！ #{username}
                    li
                        span#loginout 退出
                else
                    li
                        a(href="/login") 登录
                