extends ../layout.jade
head
  block headlink
    link(rel='stylesheet',href='/views/index/index.css')

body
  block content
    include indexcontent.jade
  block headjs
    script(src='/views/index/index.js')