.top-bg
.container.page-content
    .row.tianqi 2019/10/24 星期四 19:08 天气 晴
    .row
        img.col-sm-4.col-xs-12(style="height:384px;",src="../../images/index.jpg")
        .col-sm-4.col-xs-12
            .gx-panel
                .gx-panel-title 公告专栏
                    a(href="/news?type=1").panel-more 更多
                .gx-panel-body.height-342
                    each item,index in noticeList
                        a(href="/newsdetail?id=" + item.id).gonggao-item #{item.title}

        .col-sm-4.col-xs-12.gx-btn-list
            include ../quickbtn.jade
    .row
        .col-xs-12
            img(src="../../images/adverte_course.jpg").middle-pic
    .row
        .col-sm-4.col-xs-12
            .gx-panel
                .gx-panel-title 新闻中心
                    a(href="/news").panel-more 更多
                .gx-panel-body
                    each item,index in newsList
                        a(href="/newsdetail?id=" + item.id).news-item #{item.title}
        .col-sm-8.col-xs-12
            .gx-panel
                .gx-panel-title 技术文献
                    a(href="#").panel-more 更多 
                .gx-panel-body
                    each item,index in literatureList
                        a(href="#").news-item #{item.title}
    
            