.page-content{
    padding: 20px 0;
    z-index: 1;
    background: #fff;
}
.gx-panel{
    border: 1px solid #403fff;
}
.gx-panel-title{
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    position: relative;
    color: #fff;
    background: #337ab7;
}
.gx-panel-title::after{
    position: absolute;
    content: "";
    left: 10px;
    top: 0;
    background: #fff;
    width: 4px;
    height: 40px;
}
.panel-more{
    position: absolute;
    right: 10px;
    top: 0;
    height: 40px;
    line-height: 40px;
}
.gx-panel-body{
    padding: 20px 10px;
}
.middle-pic{
    width: 100%;
    border-radius: 10px;
}


#main_left_title {
    width: 100%;
    height: 38px;
    margin-bottom: 11px;
    background: url(http://www.hgstc.com/images/design/nei_14.jpg) no-repeat;
    background-size: cover;
    font-family: "微软雅黑", Arial;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    line-height: 38px;
}
#main_left_menu {
    height: auto;
}
#main_left_menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#main_left_menu ul li {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 8px;
    overflow: hidden;
    background: url(http://www.hgstc.com/images/design/nei_21.jpg);
    background-size: cover;
    text-align: center;
}
#main_left_menu ul li {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 8px;
    overflow: hidden;
    background: url(http://www.hgstc.com/images/design/nei_21.jpg);
    background-size: cover;
    text-align: center;
}

#main_left_menu ul li.nei_menu_on a {
    color: #CC3300;
}
#main_left_menu ul li.nei_menu_off a {
    color: #1F5996;
}
#nengrong_right_top {
    width: 100%;
    height: 36px;
    border-bottom: 1px #DDD solid;
    clear: both;
}
#nengrong_right_top h5 {
    height: 36px;
    font-family: "微软雅黑", Arial;
    font-size: 14px;
    font-weight: bold;
    color: #CC3300;
    line-height: 36px;
    white-space: nowrap;
    float: left;
    padding: 0px;
    margin: 0px;
}
#nengrong_right_top span {
    height: 36px;
    font-size: 12px;
    line-height: 36px;
    white-space: nowrap;
    color: #999;
    float: right;
}
#nengrong_right_top span a {
    color: #999;
}
#nengrong {
    padding-top: 26px;
}

.content {
    line-height: 180%;
    font-size: 12px;
}
.news_img_2 {
    width: auto;
    height: auto;
    float: right;
    margin-left: 15px;
}
.content p {
    line-height: 180%;
    font-size: 12px;
    text-indent: 2em;
    padding: 0px;
    margin: 0px;
    padding-bottom: 12px;
}

#nengrong_list {
    padding-top: 18px;
}
.news_list_ul_1 {
    padding: 0px;
    margin: 0px;
    height: auto;
    overflow: hidden;
    zoom: 1;
    list-style: none;
}
.news_list_ul_1 li {
    height: 43px;
    border-bottom: 1px #DDD dashed;
    line-height: 43px;
    font-size: 12px;
}
.news_list_ul_1 li span {
    display: block;
    float: left;
}
.news_list_ul_1 li img {
    margin-left: 10px;
}
.news_list_ul_1 li font {
    display: block;
    float: right;
    font-size: 12px;
    color: #999;
}

.news_list_ul_1 li a.a_li_list {
    font-size: 14px;
    color: #333;
    margin-left: 10px;
}
#detal_title {
    font-weight: bold;
    font-size: 16px;
    color: #C00;
    margin-bottom: 12px;
    text-align: center;
}
#detal_sub_title {
    font-size: 12px;
    color: #999;
    margin-bottom: 16px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px #DDD dashed;
}
#detal_sub_content {
    font-size: 12px;
    color: #666;
    line-height: 200%;
}
.content p {
    line-height: 180%;
    font-size: 12px;
    text-indent: 2em;
    padding: 0px;
    margin: 0px;
    padding-bottom: 12px;
}
#detal_fenxiang {
    border-top: 1px #DDD dashed;
    padding-top: 12px;
    text-align: right;
    margin-top: 20px;
}

#bdshare a,#bdshare span{
    height: 24px !important;
}
