#nengrong_list.content
    #my_content_div
        form.form-inline#searchForm(action="/report?type=" + reportType,method="post")
            .row
                .form-group.col-lg-4
                    label(for="sampleId") 样品编号：
                    input(type="text",name="sampleId",id="sampleId",placeholder="请输入样品编号").form-control.input-sm.gx-input
                .form-group.col-lg-4
                    label(for="reportCode") 报告号：
                    input(type="text",name="reportCode",id="reportCode",placeholder="请输入报告号").form-control.input-sm.gx-input
                .form-group.col-lg-4
                    button(type="submit").btn.btn-primary.btn-sm.search-btn 查 询
                    button(type="reset").btn.btn-primary.btn-sm.search-btn 重 置
                
        .table-content
            table(width="100%",border="0",cellpadding="0",cellspacing="1").table.table-bordered
                tbody
                    tr
                        th 序列号
                        th 报告类别
                        th 产品类别
                        th 产品名称
                        th 检测项目
                        th 到样时间
                        th 签发日期
                        th 操作
                    tr 
                        td(colspan="8").no-data 暂无数据