extends ../layout.jade
head
  block headlink
    link(rel='stylesheet',href='/views/warn/warn.css')

body
  block content
    include warnDetail_tmp.jade
  block headjs
    script(src='/views/warn/warn.js')