.container.page-content
    .row
        .col-xs-12
            img(src="../../images/adverte_course.jpg").middle-pic
    .row.mg20
        .col-sm-4.col-md-3.col-sx-12.gx-btn-list
            div
                #main_left_title 信息公开
                #main_left_menu
                    ul
                        if publicDetail.type == 1
                            li.nei_menu_on
                                a(href="#",title="二手表A级店铺公示") 二手表A级店铺公示
                        else
                            li.nei_menu_off
                                a(href="/public",title="二手表A级店铺公示") 二手表A级店铺公示
                        if  publicDetail.type == 2
                            li.nei_menu_on
                                a(href="#",title="电子商务诚信示范店公示") 电子商务诚信示范店公示
                        else
                            li.nei_menu_off
                                a(href="/public?type=2",title="电子商务诚信示范店公示") 电子商务诚信示范店公示
                        if  publicDetail.type == 3
                            li.nei_menu_on
                                a(href="#",title="高级鉴定师信息公示") 高级鉴定师信息公示
                        else
                            li.nei_menu_off
                                a(href="/public?type=3",title="高级鉴定师信息公示") 高级鉴定师信息公示
                        if  publicDetail.type == 4
                            li.nei_menu_on
                                a(href="#",title="钟表售后服务诚信站点") 钟表售后服务诚信站点
                        else
                            li.nei_menu_off
                                a(href="/public?type=4",title="钟表售后服务诚信站点") 钟表售后服务诚信站点
                        if  publicDetail.type == 5
                            li.nei_menu_on
                                a(href="#",title="皮具养护服务诚信站点") 皮具养护服务诚信站点
                        else
                            li.nei_menu_off
                                a(href="/public?type=5",title="皮具养护服务诚信站点") 皮具养护服务诚信站点
            div
                include ../quickbtn.jade
        .col-sm-8.col-md-9.col-xs-12
            #nengrong_right_top
                if publicDetail.type == 1
                    h5 二手表A级店铺公示
                else if publicDetail.type == 2
                    h5 电子商务诚信示范店公示
                else if publicDetail.type == 3
                    h5 高级鉴定师信息公示
                else if publicDetail.type == 4
                    h5 钟表售后服务诚信站点
                else
                    h5 皮具养护服务诚信站点
                span 您的位置：
                    a(href="/") 首页&nbsp;&gt;&nbsp;
                        a(href="/public") 信息公开&nbsp;&gt;&nbsp;
                    if publicDetail.type == 1
                        a(href="#") 二手表A级店铺公示
                    else if publicDetail.type == 2
                        a(href="#") 电子商务诚信示范店公示
                    else if publicDetail.type == 3
                        a(href="#") 高级鉴定师信息公示
                    else if publicDetail.type == 4
                        a(href="#") 钟表售后服务诚信站点
                    else
                        a(href="#") 皮具养护服务诚信站点
            #nengrong.content
                #detal_title #{publicDetail.name}
                #detal_sub_content !{publicDetail.pic}
                            