.page-content{
    padding: 20px 0;
    z-index: 1;
    background: #fff;
}
.gx-panel{
    border: 1px solid #403fff;
}
.gx-panel-title{
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    position: relative;
    color: #fff;
    background: #337ab7;
}
.gx-panel-title::after{
    position: absolute;
    content: "";
    left: 10px;
    top: 0;
    background: #fff;
    width: 4px;
    height: 40px;
}
.panel-more{
    position: absolute;
    right: 10px;
    top: 0;
    height: 40px;
    line-height: 40px;
}
.gx-panel-body{
    padding: 20px 10px;
}
.middle-pic{
    width: 100%;
    border-radius: 10px;
}


#main_left_title {
    width: 100%;
    height: 48px;
    margin-bottom: 11px;
    background: #162C3D;
    background-size: cover;
    font-family: "微软雅黑", Arial;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    line-height: 48px;
}
#main_left_menu {
    height: auto;
}
#main_left_menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#main_left_menu ul li {
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 8px;
    overflow: hidden;
    background: url(/images/nei_21.jpg);
    background-size: cover;
    text-align: center;
}

#main_left_menu ul li.nei_menu_on a {
    color: #CC3300;
}
#main_left_menu ul li.nei_menu_off a {
    color: #1F5996;
}
#nengrong_right_top {
    width: 100%;
    height: 36px;
    border-bottom: 1px #DDD solid;
    clear: both;
}
#nengrong_right_top h5 {
    height: 36px;
    font-family: "微软雅黑", Arial;
    font-size: 16px;
    font-weight: bold;
    color: #CC3300;
    line-height: 36px;
    white-space: nowrap;
    float: left;
    padding: 0px;
    margin: 0px;
}
#nengrong_right_top span {
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    white-space: nowrap;
    color: #999;
    float: right;
}
#nengrong_right_top span a {
    color: #999;
}
#nengrong {
    padding-top: 26px;
}

.content {
    line-height: 180%;
    font-size: 16px;
}
.news_img_2 {
    width: auto;
    height: auto;
    float: right;
    margin-left: 15px;
}
.content p {
    line-height: 180%;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    padding-bottom: 12px;
}
.form-panel-title{
    line-height: 180%;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
}
.form-panel-body{
    padding: 20px 0;
}
#nengrong_list {
    padding-top: 18px;
}
.news_list_ul_1 {
    padding: 0px;
    margin: 0px;
    height: auto;
    overflow: hidden;
    zoom: 1;
    list-style: none;
}
.news_list_ul_1 li {
    height: 43px;
    border-bottom: 1px #DDD dashed;
    line-height: 43px;
    font-size: 16px;
}
.news_list_ul_1 li span {
    display: block;
    float: left;
}
.news_list_ul_1 li font {
    display: block;
    float: right;
    font-size: 16px;
    color: #999;
}

.news_list_ul_1 li a.a_li_list {
    font-size: 14px;
    color: #333;
}
.Wdate{
    width: 130px;
    height: 26px !important;    
}
.search-btn{
    margin: 0 20px;
}
.table-content{
    margin-top: 20px;
}

.table{
    margin-bottom: 0;
}
.input-sm {
    height: 24px;
}
.form-group label:first-of-type {
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    width: 100px;
    text-align: right;
    padding-right: 14px;
}

.require-label::after{
    content: "*";
    color: red;
    position: absolute;
    right: 4px;
    top: 3px;
}
input[type="text"]{
    width: 300px;
}
.input-tip{
    padding-left: 100px;
    margin-top: 10px;
}
.input-tip span{
    font-size: 16px;
}
.form-inline .form-control {
    display: inline-block;
    width: 300px;
    vertical-align: middle;
    font-size: 14px;
}
.validate-code{
    margin: 0 10px;
    color: #CC3300;
}
.form-control {
    height: 30px;
    padding: 0px 12px;
}
.form-group{
    margin-bottom: 6px !important;
}
.sendCompanyName-wrap,.area-wrap,.prdCount-wrap,.sendTime-wrap,.buyTime-wrap,.buyType-wrap{
    display: none;
}
@media (max-width: 375px){
    .form-inline .form-control{
        width: 200px;
    }
}