.container.page-content
    .row
        .col-xs-12
            img(src="../../images/adverte_course.jpg").middle-pic
    .row.mg20
        .col-sm-3.col-sx-12.gx-btn-list
            div
                #main_left_title 办事大厅
                #main_left_menu
                    ul
                        if workType == 1
                            li.nei_menu_on
                                a(href="#",title="委托检测") 委托检测
                        else
                            li.nei_menu_off
                                a(href="/work",title="委托检测") 委托检测
                        if  workType == 5
                            li.nei_menu_on
                                a(href="#",title="个人委托真假鉴定") 个人委托真假鉴定
                        else
                            li.nei_menu_off
                                a(href="/work?type=5",title="个人委托真假鉴定") 个人委托真假鉴定
                        if  workType == 2
                            li.nei_menu_on
                                a(href="#",title="钟表维修便民服务") 钟表维修便民服务
                        else
                            li.nei_menu_off
                                a(href="/work?type=2",title="钟表维修便民服务") 钟表维修便民服务
                        if  workType == 3
                            li.nei_menu_on
                                a(href="#",title="验光配镜便民服务") 验光配镜便民服务
                        else
                            li.nei_menu_off
                                a(href="/work?type=3",title="验光配镜便民服务") 验光配镜便民服务
                        if  workType == 4
                            li.nei_menu_on
                                a(href="#",title="职业技能鉴定申请") 职业技能鉴定申请
                        else
                            li.nei_menu_off
                                a(href="/work?type=4",title="职业技能鉴定申请") 职业技能鉴定申请
            div
                include ../quickbtn.jade
        .col-sm-9.col-xs-12
            #nengrong_right_top
                if workType == 1
                    h5 委托检测
                else if workType == 2
                    h5 钟表维修便民服务
                else if workType == 3
                    h5 验光配镜便民服务
                else if workType == 5
                    h5 个人委托真假鉴定
                else
                    h5 职业技能鉴定申请
                span 您的位置：
                    a(href="/") 首页&nbsp;&gt;&nbsp;
                    a(href="/work") 办事大厅&nbsp;&gt;&nbsp;
                    if workType == 1
                        a(href="#") 委托检测
                    else if workType == 2
                        a(href="#") 钟表维修便民服务
                    else if workType == 3
                        a(href="#") 验光配镜便民服务
                    else if workType == 4
                        a(href="#") 职业技能鉴定申请
                    else
                        a(href="#") 个人委托真假鉴定
            if workType == 1
                include weituo.jade
            else if workType == 2
                include weixiu.jade
            else if workType == 3
                include peijing.jade
            else if workType == 4
                include shenqing.jade
            else
                include zhenjia.jade
            