#nengrong_list.content
                #my_content_div
                    div 
                        if zizhiList.length == 0
                            .news_list_ul_1 暂无数据
                        else
                            ul.news_list_ul_1
                                each item,index in zizhiList
                                    li
                                        span
                                            a(href="#").a_li_list 
                                                .zizhi-title #{item.title}
                                                img(src=item.picUrl, alt="").zizhi-pic
                    
                        nav(aria-label="Page navigation")
                            ul.pagination
                                if pageInfo.current == 1
                                    li.disabled
                                        a(href="#",aria-label="Previous")
                                            span(aria-hidden="true") &laquo;
                                else
                                    li
                                        a(href="/news?type="+newsType + "&page=" + (pageInfo.current - 1),aria-label="Previous")
                                            span(aria-hidden="true") &laquo;
                                - let n = 1;
                                while n <= pageInfo.pages
                                    if n == pageInfo.current
                                        li.active
                                            a(href="#") #{n++}
                                    else
                                        li
                                            a(href="/news?type="+newsType + "&page=" + n) #{n++}
                                
                                if  pageInfo.current == pageInfo.pages || pageInfo.current == pageInfo.pages-1
                                    li.disabled
                                        a(href="#",aria-label="Next")
                                            span(aria-hidden="true") &raquo;
                                else
                                    li
                                        a(href="/news?type="+newsType + "&page=" + (pageInfo.current + 1),aria-label="Next")
                                            span(aria-hidden="true") &raquo;