extends ../layout.jade
head
  block headlink
    link(rel='stylesheet',href='/views/orgdesc/orgdesc.css')

body
  block content
    include org_tmp.jade
  block headjs
    script(src='/views/orgdesc/orgdesc.js')
