<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>钟表眼镜国检中心</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./news.css">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="top-img-wrap">
                <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2662373233,2184225911&fm=26&gp=0.jpg" alt="">
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="#">
                    <img alt="Brand" src="../../images/logo.png">
                </a> -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">网站首页</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">机构简介
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">关于检测中心</a>
                            </li>
                            <li>
                                <a href="#">组织机构</a>
                            </li>
                            <li>
                                <a href="#">资质证书</a>
                            </li>
                            <li>
                                <a href="#">历史回顾</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#about">新闻公告</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">信息公开
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">二手表A级店铺公示</a>
                            </li>
                            <li>
                                <a href="#">电子商务诚信示范店公示</a>
                            </li>
                            <li>
                                <a href="#">高级鉴定师信息公示</a>
                            </li>
                            <li>
                                <a href="#">钟表售后服务诚信站点</a>
                            </li>
                            <li>
                                <a href="#">皮具养护服务诚信站点</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">报告查询
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">钟表型式检验报告查询</a>
                            </li>
                            <li>
                                <a href="#">司法技术鉴定报告查询</a>
                            </li>
                            <li>
                                <a href="#">二手表检验证书查询</a>
                            </li>
                            <li>
                                <a href="#">眼镜型式检验报告查询</a>
                            </li>
                            <li>
                                <a href="#">皮具型式检验证书查询</a>
                            </li>
                            <li>
                                <a href="#">皮具真伪检验证书查询</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">办事大厅
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">委托检测</a>
                            </li>
                            <li>
                                <a href="#">钟表维修便民服务</a>
                            </li>
                            <li>
                                <a href="#">验光配镜便民服务</a>
                            </li>
                            <li>
                                <a href="#">职业技能鉴定申请</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#contact">政策文献</a>
                    </li>
                    <li>
                        <a href="#contact">消费警示</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="../navbar/">登录</a>
                    </li>
                    <li>
                        <a href="../navbar/">欢迎！齐天大爷</a>
                    </li>
                    <li>
                        <a href="../navbar/">退出</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container page-content">
        <div class="row">
            <div class="col-xs-12">
                <img src="../../images/adverte_course.png" alt="" class="middle-pic">
            </div>
        </div>
        <div class="row mg20">
            <div class="col-sm-3 col-xs-12 gx-btn-list">
                <div>
                    <div id="main_left_title">新闻中心</div>
                    <div id="main_left_menu">
                        <ul>
                            <li class="nei_menu_on">
                                <a href="aboutus.asp?cid=1&amp;id=1" title="行业信息">行业信息</a>
                            </li>
                            <li class="nei_menu_off">
                                <a href="aboutus.asp?cid=1&amp;id=2" title="公告通知">公告通知</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="gx-btn">钟表形式检验报告查询</div>
                    <div class="gx-btn">司法技术鉴定报告查询</div>
                    <div class="gx-btn">司法技术鉴定报告查询</div>
                    <div class="gx-btn">眼镜形式检验报告查询</div>
                    <div class="gx-btn">眼镜形式检验报告查询</div>
                    <div class="gx-btn">皮具真伪检验证书查询</div>
                </div>
            </div>
            <div class="col-sm-9 col-xs-12">
                <div id="nengrong_right_top">
                    <h5>新闻中心</h5>
                    <span>您的位置：
                        <a href="index.asp">首页</a>&nbsp;&gt;&nbsp;新闻中心
                    </span>
                </div>
                <div id="nengrong_list" class="content">
                    <div id="my_content_div">
                        <!--main content-->
                        <div>
                            <!-- 右边内容区-->
                            <!-- con-->
                            <!-- 标题+简介-->

                            <!-- 标题+简介END-->

                            <!-- 标题-->

                            <ul class="news_list_ul_1">

                                <li>
                                    <span>
                                        <a href="newscenter.html?nid=5" class="">[ 专题报道 ]</a>&nbsp;&nbsp;
                                        <a href="newscenter_detal.asp?id=31" target="_blank" class="a_li_list" title="国内贸易发展“十二五”规划">国内贸易发展“十二五”规划</a>&nbsp;&nbsp;
                                        <img src="http://www.hgstc.com/images/hot.gif">
                                    </span>
                                    <font>2012年12月19日</font>
                                </li>

                                <li>
                                    <span>
                                        <a href="newscenter.html?nid=5" class="">[ 专题报道 ]</a>&nbsp;&nbsp;
                                        <a href="newscenter_detal.asp?id=4" target="_blank" class="a_li_list" title="商务部发布《第三方电子商务交易平台服务规范》">商务部发布《第三方电子商务交易平台服务规范》</a>&nbsp;&nbsp;
                                        <img src="http://www.hgstc.com/images/hot.gif">
                                    </span>
                                    <font>2012年6月25日</font>
                                </li>

                                <li>
                                    <span>
                                        <a href="newscenter.html?nid=5" class="">[ 专题报道 ]</a>&nbsp;&nbsp;
                                        <a href="newscenter_detal.asp?id=3" target="_blank" class="a_li_list" title="当当网被曝出售假表，电商产品质量监督体系有待完善">当当网被曝出售假表，电商产品质量监督体系有待完善</a>&nbsp;&nbsp;
                                        <img src="http://www.hgstc.com/images/hot.gif">
                                    </span>
                                    <font>2012年6月24日</font>
                                </li>

                                <li>
                                    <span>
                                        <a href="newscenter.html?nid=6" class="">[ 通知公告 ]</a>&nbsp;&nbsp;
                                        <a href="newscenter_detal.asp?id=10" target="_blank" class="a_li_list" title="关于推荐申报2012年度“中国商业联合会服务业创新奖”的通知">关于推荐申报2012年度“中国商业联合会服务业创新奖”的通知</a>&nbsp;&nbsp;
                                        <img src="http://www.hgstc.com/images/hot.gif">
                                    </span>
                                    <font>2012年6月18日</font>
                                </li>

                                <li>
                                    <span>
                                        <a href="newscenter.html?nid=6" class="">[ 通知公告 ]</a>&nbsp;&nbsp;
                                        <a href="newscenter_detal.asp?id=9" target="_blank" class="a_li_list" title="关于发布2012年商贸服务业优质服务活动标识的通知">关于发布2012年商贸服务业优质服务活动标识的通知</a>&nbsp;&nbsp;
                                        <img src="http://www.hgstc.com/images/hot.gif">
                                    </span>
                                    <font>2012年6月18日</font>
                                </li>

                                <li>
                                    <span>
                                        <a href="newscenter.html?nid=6" class="">[ 通知公告 ]</a>&nbsp;&nbsp;
                                        <a href="newscenter_detal.asp?id=8" target="_blank" class="a_li_list" title="中国商业联合会商业预付卡规范工作委员会获得批准">中国商业联合会商业预付卡规范工作委员会获得批准</a>&nbsp;&nbsp;
                                        <img src="http://www.hgstc.com/images/hot.gif">
                                    </span>
                                    <font>2012年6月18日</font>
                                </li>

                                <li>
                                    <span>
                                        <a href="newscenter.html?nid=6" class="">[ 通知公告 ]</a>&nbsp;&nbsp;
                                        <a href="newscenter_detal.asp?id=7" target="_blank" class="a_li_list" title="关于开展2012年全国商业315诚信宣言活动的通知">关于开展2012年全国商业315诚信宣言活动的通知</a>&nbsp;&nbsp;
                                        <img src="http://www.hgstc.com/images/hot.gif">
                                    </span>
                                    <font>2012年6月18日</font>
                                </li>

                                <li>
                                    <span>
                                        <a href="newscenter.html?nid=6" class="">[ 通知公告 ]</a>&nbsp;&nbsp;
                                        <a href="newscenter_detal.asp?id=6" target="_blank" class="a_li_list" title="2011年全国商业质量成果大会">2011年全国商业质量成果大会</a>&nbsp;&nbsp;
                                        <img src="http://www.hgstc.com/images/hot.gif">
                                    </span>
                                    <font>2012年6月18日</font>
                                </li>

                                <li>
                                    <span>
                                        <a href="newscenter.html?nid=5" class="">[ 专题报道 ]</a>&nbsp;&nbsp;
                                        <a href="newscenter_detal.asp?id=2" target="_blank" class="a_li_list" title="网购手表售后无保障，佳品网服务遭质疑">网购手表售后无保障，佳品网服务遭质疑</a>&nbsp;&nbsp;
                                        <img src="http://www.hgstc.com/images/hot.gif">
                                    </span>
                                    <font>2012年6月10日</font>
                                </li>

                                <li>
                                    <span>
                                        <a href="newscenter.html?nid=5" class="">[ 专题报道 ]</a>&nbsp;&nbsp;
                                        <a href="newscenter_detal.asp?id=5" target="_blank" class="a_li_list" title="2011年网络购物商品质量监督管理与风险控制座谈会">2011年网络购物商品质量监督管理与风险控制座谈会</a>&nbsp;&nbsp;
                                        <img src="http://www.hgstc.com/images/hot.gif">
                                    </span>
                                    <font>2011年7月12日</font>
                                </li>

                            </ul>

                            <!-- 标题END-->

                            <!-- 图片+简介-->

                            <!-- 图片+简介 END-->

                            <!-- 缩略图-->

                            <!-- 缩略图 END-->

                            <!-- 预览图-->

                            <!-- 预览图 END-->



                            <!-- 分页-->
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                  <li class="disabled">
                                    <a href="#" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                    </a>
                                  </li>
                                  <li class="active"><a href="#">1</a></li>
                                  <li><a href="#">2</a></li>
                                  <li><a href="#">3</a></li>
                                  <li><a href="#">4</a></li>
                                  <li><a href="#">5</a></li>
                                  <li>
                                    <a href="#" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                            <!-- 分页 END-->


                            <!-- con end-->
                            <!-- 右边内容区 end-->
                        </div>
                        <!--main content end -->
                    </div>
                </div>
            </div>
        </div>

        <div class="youqing-wrap">
            <a href="">中国商业联合会</a>
            <a href="">中国商业联合会</a>
            <a href="">中国商业联合会</a>
            <a href="">中国商业联合会</a>
            <a href="">中国商业联合会</a>
            <a href="">中国商业联合会</a>
            <a href="">中国商业联合会</a>
        </div>
    </div>
    <div class="container footer-wrap">
        <div class="footer">
            <p>版权所有：国家雄飞争议商品检测中心/中国商业联合会钟表眼镜商品质量监督检测中心 京ICP备01293884号-1</p>
            <p> 地址： 北京东城区建国门南大街1号楼207室 邮编：100005</p>
            <p>电话：400-014-8066 010-64492242 传真：010-65593443 电子邮箱：info@hgstc.com</p>

        </div>
    </div>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>

</html>